@media screen and (max-width:425px)
{
  .nav-list {
    flex-direction:column;
    text-align:center;
    justify-content: center;
  }
  .logo{
    margin: 0% 44%;
  }
  .rightnav{
    flex-direction:column;
  }
  #headings{
        font-size: xxx-large;
  }
  .getLocation{
    display: flex;
    justify-content: center;
    margin: 41px;
    margin-top: 76px;
  }
  .location-aesthetics{
    padding: 6px;
    font-size: 11px;
  }
}
